{
  "plugins": ["prettier-plugin-tailwindcss"],
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "prettier.bracketSpacing": true,
  "prettier.bracketSameLine": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "endOfLine": "auto"
}